footer {
  margin-top: 100px;
  background-color: #dee2e6;
  color: #6c757d;
}
.footer_start {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #adb5bd;
}
.footer_icon {
  margin-top: 20px;
  width: 20%;
}
.icon {
  width: 7%;
  margin-left: 10px;
}
.footer_info {
  display: flex;
  justify-content: space-between;
}
.control_text {
  width: 17%;
}
.footer__list {
  list-style-type: none;
}
.list > a {
  text-decoration: none;
}
a:hover {
  color: #1090df;
  transition: 0.8s;
}
a {
  text-decoration: none;
  color: #6c757d;
}
.footer_end {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adb5bd;
  height: 50px;
}
.text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #6c757d;
}
